# Compiled class file
*.class
*.classpath

# Log file
*.log

# Eclipse Artifacts #
*.project
*.settings

# Mac Generated Artifacts #
*.DS_Store

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
**/*.iml

